[Unit]
Description=OMNI TCP Server for STM32 Communication
After=network.target

[Service]
Type=simple
User=nickolas
WorkingDirectory=/home/nickolas/ros2_ws/src/omni_src/pi_comm_server
Environment="PYTHONUNBUFFERED=1"
Environment="ROS_DOMAIN_ID=0"
ExecStart=/usr/bin/python3 /home/nickolas/ros2_ws/src/omni_src/pi_comm_server/omni_main.py
KillSignal=SIGINT
TimeoutStartSec=10
TimeoutStopSec=5
Restart=on-failure
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
