[Unit]
Description=OMNI UDP Communication Server
After=network.target

[Service]
Type=simple
ExecStart=%h/.local/bin/omni-udp-server
KillSignal=SIGINT
TimeoutStartSec=10
TimeoutStopSec=5
Restart=on-failure
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
